<%if !session[:signed_in] %>
<div class = "signs">
<h3 class =>
<a href = "/users/signin" class = "sign-in">Sign In </a>
<a href = "users/signup" class ="sign-up">Sign Up </a>
</h3>
</div>

<% end %>

<%if session[:signed_in] %>
<h3 class ="user-status">
<%="Signed in as #{session[:username]}"%>

<form action="/users/signout" method="post">
 <input type="hidden" name="sign-out" >
 <button type="submit">Sign Out </button>
</form>
</h3>
<% end %>






<h2>Files</h2>
<% if session[:message]%>

<p class = "flash message" > <%= session.delete(:message)%> </p>
<%end %>

<ul>
  <% @files.each do |file| %>
    <li class = "documents">

  <form action="/<%= file %>/duplicate" class = "action-on-file" method="post">
 <input type="hidden"  name="document" >
 <button type="submit">Duplicate <%=file %> </button>
</form>

<form action="/<%= file %>/delete" class = "action-on-file"method="post">
 <input type="hidden" name="document" value="<%= file %>">
 <button type="submit">Delete File</button>
</form>
      <a href="/<%= file %>"><%= file %></a>
        <span class = "file-name"> <%  file %> </span>
      <a href  ="/<%= file %>/edit" class="edit-file">Edit</a>
    </li>
  <% end %>
</ul>

<p class = new-document>
<a href = "/new">Create New File</a>
</p>
